site_name: dataclasses-struct
site_url: https://dataclasses-struct.readthedocs.io
nav:
  - index.md
  - guide.md
  - api-reference.md
  - types-reference.md
repo_url: https://github.com/harrymander/dataclasses-struct
theme:
  name: material
  features:
    - content.code.annotate
  icon:
    repo: fontawesome/brands/github
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
plugins:
  - search
  - mkdocstrings
markdown_extensions:
  - attr_list
  - md_in_html
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.magiclink
watch:
  - dataclasses_struct
